@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*
objetivos (puede variar)
- mover las images a la izquierda y ubicar el texto en el centro. Intentar ponerle "diseño" a cada seccion.
- agregar imagen de fondo en la tabla de resultados
- agregar un boton con diseño para la seccion de programas en index
 

__Esquema general del body__ -->>

- imagen a la izquierda- texto en el centro (agregarle un fondo al box del texto)

__correcciones pendientes__
tamaño de las imagenes en el header

*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



/* body */
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    background-color: #677676;
}





/* variables */

:root{

    /* Colores */
    --negro: #000;
    --gris-oscuro: #222222d0;
    --blanco: #fff;
    --verde-1: #48a179;
    --verde-2: #2c5a45;
    --verde-3: #20ca9ac3;
    --verde-4: #347f7f;

    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight */
    --font-wight-normal: 400;
    --font-wight-medium: 500;
    --font-wight-semibold: 600;
    --font-wight-bold: 700;

    /* Radio del Brode*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;
    
    /* Site max width */
    --site-max-width: 1300px;
}





/* Encabezado y barra de navegacion */

.logo{
    max-height: 4rem; 
    width: auto;       
    display: flex;
    margin-left: 20%;
    margin-top: 1%;
}

header{
    width: 98.35%;
    height: 10vh;
    background: linear-gradient(45deg, #080808da, #121514, #3a3e3e);
    background-size: 300% 300%;
    border-radius: var(--border-radius-m);
    color: var(--blanco);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 5;
    justify-content: space-between;
    padding: 20px 100px;
}


header .main-nav{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.main-nav .main-nav-list{
    display: flex;
    gap: 10px;
}

.main-nav .main-nav-list .main-nav-link{
    padding: 10px 18px;
    font-size: var(--font-size-m);
    color: var(--blanco);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.main-nav .main-nav-list .main-nav-link:hover{
    color: var(--blanco);
    background:  var(--verde-3);
}

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

ul{
    list-style: none;
}

.main-nav-link{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}


/*__ elementos del body__*/

.section-program{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    max-width: 1200px;
    margin: 3rem;
    padding: 2rem;
    background: linear-gradient(135deg,#f6fff8,#dff5e8);
    border-radius: 20px;
    
}

.section-program img{
    width: 30%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,.25);
    flex-shrink: 0;
}

.program-content{
    flex: 1;
}

.program-content h4{
    font-size: 2rem;
    color: var(--verde-2);
    margin-bottom: 15px;
}

.program-content p{
    font-size: 1rem;
    color: var(--gris-oscuro);
    line-height: 1.8;
}

/*__section__*/


section img{
    width: 80%;
    border-radius: 8px;
    object-fit: cover;
    /* max-height: 350px; */
}

/*programas*/


.otros-programas ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin-top: 1rem;
}

/* hero - index*/

.section-hero{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #16271f, #3b8764, #27b7be);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.section-hero, .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--blanco);
    justify-content: space-between;
}

.section-hero .hero-details .title{
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xxl);
    font-weight: var(--font-wight-bold);
    color: var(--blanco);
    font-family: "Poppins", sans-serif;
}


.section-hero .hero-details .buttons .button-about-us{
   padding: 10px 26px;
   border: 2px solid transparent;
   color: var(--blanco);
   background-color: var(--gris-oscuro);
   border-radius: var(--border-radius-m);
   font-weight: var(--font-wight-medium);
   transition: 0.3s ease;
   text-decoration: none;
}

.section-hero .hero-details .buttons .button-about-us:hover{
   border-color: var(--blanco);
   color: var(--blanco);
   background: transparent;
   text-decoration: none;
}

.section-hero .hero-image-wrapper{
    max-width: 800px;
    margin-right: 30px;
}

.section-hero .hero-image-wrapper .hero-image{
    filter: drop-shadow(5px 5px 10px black);
}

.section-hero .hero-details .description{
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}









/* Footer */
footer {
    width: 98.35%;
    position: flex;
    bottom: 0;
    background: linear-gradient(45deg, #080808da, #121514, #3a3e3e);
    background-size: 300% 300%;
    border-radius: var(--border-radius-m);
    color: var(--blanco);
    padding: 50px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.footer-logo{
    width: 500px;
    height: auto;     
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container h3::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background: #fff;
    margin-top: 20px;
}

.container li a:hover {
    color: var(--verde-3);
    transition: all 0.5s ease;
}

.col-1 {
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 20px;
}

.col-1 img {
    width: 300px;
    margin-bottom: 15px;
}

.col-1 p {
    color: var();
    font-size: 15px;
    line-height: 20px;
}

.col-2 {
    flex-basis: 15%;
    padding: 10px;
    margin-bottom: 20px;
}

.col-2 h3 {
    color: var(--blanco);
    font-size: 20px;
    margin-bottom: 15px;
}

.col-2 ul {
    list-style: none;
}

.col-2 ul li {
    margin-bottom: 10px;
}

.col-2 ul li a {
    color: var(--blanco);
    text-decoration: none;
}

.col-3 {
    flex-basis: 15%;
    padding: 10px;
    margin-bottom: 20px;
}

.col-3 h3 {
    color: var(--blanco);
    font-size: 20px;
    margin-bottom: 15px;
}

.col-3 ul {
    list-style: none;
}

.col-3 ul li {
    margin-bottom: 10px;
}

.col-3 ul li a {
    color: var(--blanco);
    text-decoration: none;
}

.col-4 {
    flex-basis: 20%;
    padding: 10px;
    margin-bottom: 20px;
}

.col-4 h3 {
    color: var(--blanco);
    font-size: 20px;
    margin-bottom: 15px;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

form .far{
    color: #ccc;
    margin-right: 10px;
}

form input{
    background: transparent;
    width: 100%;
    border: none;
    color: var(--blanco);
    outline: none;
}

form button{
    background: transparent;
    border: none;
    color: var(--blanco);
    cursor: pointer;
    outline: none;
}

.social-icons{
    margin-top: 60px;
    display: flex;
}

.social-icons a{
    display: flex;
    width: 40px;
    height: 40px;
    background: var(--blanco);
    color: var(--gris-oscuro);
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.social-icons a:hover{
    background: var(--verde-3);
    color: var(--blanco);
    transition: all 0.5s ease;
}

.footer-2{
    width: 100%;
    color: var(--blanco);
    padding-top: 20px;
    text-align: center;
}
